<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'ii-person' %>
  </div>

  <% unless account.new_record? %>
    <div class="field">
      <div class="grid-x grid-margin-x">
        <div class="cell shrink grid-x align-middle">
          <%= form.check_box :verified %>
          <%= form.label :verified do %>
          <% end %>
        </div>
        <%= form.label :verified, class: 'cell auto' %>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'ii-mail' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'button primary' %>
  </div>
<% end %>
